.git
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.ddev
tests
.phpunit.result.cache
phpunit.xml
.editorconfig
.gitignore
.gitattributes
README.md
docker-compose.yml