services:
  app:
    build:
      context: .
      dockerfile: docker/php.dockerfile
    networks:
      - laravel

  nginx:
    build:
      context: .
      dockerfile: docker/nginx.dockerfile
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mariadb:10.6
    networks:
      - laravel

networks:
  laravel:
